__pycache__
.idea
.venv
.vscode
.env
.env_sample
.gitignore
*.egg-info
build
logs
temp
dist
sandbox*
sandbox.py
examples
docker-compose.yaml
allqueries.txt
goodqueries.txt
badqueries.txt
mac_lookup.txt
*.zip
test.py